@import './colors.module.scss';

.container {
  background-color: $white;
  margin-top: 24px;
  padding: 28px;
  border-radius: 5px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  h3 {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  small {
    font-size: 0.875rem;
    color: $muted;
  }

  p {
    margin-top: 8px;
  }
}